/*
	0 - 600px:		phone
	600 - 900px:	tablet portrait
	900 - 1200px:	tablet landscape
	1200 - 1800px: normal styles apply only
	+1800px:	large desktop
*/
:root {
  --bg-color: #05161e;
  --text-color: #ffffff; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

input {
  height: 3rem;
  border: 0;
  outline: 0;
  padding: 0.6rem 1.2rem;
  border-radius: 0.8rem;
  background-color: rgba(81, 81, 83, 0.356);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.151);
  backdrop-filter: blur(2px);
  background-image: url("public/search-icon.png");
  background-repeat: no-repeat;
  background-size: 1.8rem;
  background-position: 98% center;
  caret-color: white;
  width: 100%; }
  input::placeholder {
    color: #ccc;
    font-size: 1rem; }
  input:enabled {
    color: white; }

html {
  font-size: 72.5%; }

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color); }

a {
  text-decoration: none;
  color: var(--text-color); }

ul {
  list-style: none; }

.active {
  color: aquamarine; }

/* Custom Alert Box */
.alert {
  width: fit-content;
  padding: 1rem 1.1rem;
  margin-bottom: 1.2rem;
  border-radius: 5px; }

.alert-success {
  background: green; }

.alert-error {
  background: rgba(255, 0, 0, 0.548); }

.container {
  width: 80%;
  margin: 0 auto; }

.main-header .container {
  padding-top: 3rem;
  display: flex;
  align-items: start;
  justify-content: space-between; }
  .main-header .container .search-form {
    width: 25%; }
  @media (max-width: 600px) {
    .main-header .container {
      gap: 2rem;
      flex-direction: column;
      align-items: start; }
      .main-header .container .search-form {
        padding-top: 3rem;
        width: 75%;
        align-self: center; } }

.now-playing h2 {
  margin-top: 6rem; }

section {
  margin: 4rem 0; }

.movie-details__top {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: end; }

.movie-details__bottom .desc-wrapper {
  display: flex;
  flex-wrap: nowrap; }

.movie-details__bottom .desc-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem; }

.movie-details__bottom .cast-wrapper,
.movie-details__bottom .prod-wrapper {
  display: flex;
  width: fit-content;
  column-gap: 1.2rem; }

.movie-details__bottom .actor {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.8rem; }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px; }

/* Card */
.card {
  padding: 5px;
  text-align: center; }

.card img {
  width: 100%; }

.card:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out; }

.search-field {
  text-align: center;
  padding: 2rem; }
  .search-field input {
    width: 50%;
    padding: 0.8rem; }

Footer {
  padding: 2rem;
  text-align: center; }

/* Spinner From: https://codepen.io/tbrownvisuals/pen/edGYvx */
.spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none; }

.show {
  display: block; }

/* Transparent Overlay */
.spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
  background: -webkit-radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8)); }

.spinner:not(:required) {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.spinner:not(:required):after {
  content: '';
  display: block;
  font-size: 1rem;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: aqua 1.5em 0 0 0, aqua 1.1em 1.1em 0 0, aqua 0 1.5em 0 0, aqua -1.1em 1.1em 0 0, aqua -1.5em 0 0 0, aqua -1.1em -1.1em 0 0, aqua 0 -1.5em 0 0, aqua 1.1em -1.1em 0 0;
  box-shadow: aqua 1.5em 0 0 0, aqua 1.1em 1.1em 0 0, aqua 0 1.5em 0 0, aqua -1.1em 1.1em 0 0, aqua -1.5em 0 0 0, aqua -1.1em -1.1em 0 0, aqua 0 -1.5em 0 0, aqua 1.1em -1.1em 0 0; }

/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* Header */
.logo {
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  font-weight: 700; }
  .logo a {
    color: aquamarine; }

.nav-link {
  margin-left: 1rem; }
  .nav-link:hover {
    color: aquamarine; }

/* Section: Now Playing */
section.now-playing {
  margin: 0;
  padding: 0rem 2rem;
  background: linear-gradient(to bottom, rgba(5, 22, 30, 0.4), #05161e), url(showcase.jpg) no-repeat center center/cover; }

section h2 {
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 2rem; }

/* Slider */
.swiper {
  width: 100%;
  height: 50%; }

.swiper-slide {
  text-align: center;
  font-size: 1.8rem;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.swiper-rating {
  padding: 10px; }

/* Movie Details page */
#movie-details h1 {
  font-size: 2.4rem; }

#movie-details h2 {
  color: #555;
  font-size: 1.5rem; }

#movie-details h4 {
  font-weight: 300;
  margin-bottom: 6px;
  font-size: 1.3rem; }

#movie-details .genres,
#movie-details .info {
  display: flex;
  gap: 10px;
  margin: 1rem 0; }

#movie-details .genres li {
  padding: 0.3rem 0.8rem;
  border-radius: 0.4rem;
  border: 1px solid white;
  background-color: rgba(81, 81, 83, 0.356);
  backdrop-filter: blur(2px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.151); }

#movie-details .info li {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr));
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 8rem;
  border-radius: 1.8rem;
  background-color: rgba(81, 81, 83, 0.356);
  backdrop-filter: blur(2px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.151);
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem; }

#movie-details .vertical-text {
  position: absolute;
  writing-mode: vertical-rl;
  margin-left: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  font-size: 1rem; }

#movie-details .vertical-text p {
  transform: rotate(-180deg);
  font-weight: 100;
  opacity: 0.3; }

.similar h2 {
  color: #555;
  font-size: 1.5rem; }

.movie-details__bottom {
  font-size: 1.3rem;
  line-height: 1.5; }
  .movie-details__bottom .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden; }
  .movie-details__bottom .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.pagination {
  font-size: 1.4rem; }
  .pagination .btn {
    background: transparent;
    color: white;
    padding: 0.2rem 0.8rem;
    border: 1px solid aqua;
    cursor: pointer;
    margin-bottom: 1rem; }
  .pagination .btn:hover {
    background-color: aqua;
    transition: 0.2 ease-in-out;
    color: #333; }
  .pagination .btn:disabled {
    cursor: not-allowed;
    opacity: 0.3; }
